@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
body {
  background-image: url("../IMG/body-bg.jpg"); color: white; font-family: Oxanium; font-size: 16px; font-weight: 400
}
.img-logo {
	width: 150px; height: auto
}
.container {
	width: 100%; margin: 0 auto
}
.container-2 {
	width: 100%; text-align: center; padding: 150px 0px 75px 0px
}
.container-3 {
	width: 100%; text-align: center; padding: 100px 0px 50px 0px
}
.logo-25 {
	width: 20%; height: 50px; float: left; line-height: 50px; text-align: center
}
.menu {
	width: 60%; height: 50px; line-height: 50px; text-align: center; float:left
}
.menu a {
	color: #FFBA00; padding: 15px; margin: 0px 25px; text-decoration: none; clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%) 
}
.menu a:hover{
	color: white; background-image: linear-gradient(to right bottom, #ED3D0A, #FFBA00);font-weight: bold
}
.btn-25 {
	width: 20%; height: 50px; float: left; line-height: 50px; text-align: center 
}
.btn {
	color: white; padding: 15px; text-decoration: none; background-image: linear-gradient(to right bottom, #ED3D0A, #FFBA00); clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%); font-weight: bold	
}
.cleanfix {
	clear: both
}
.section-subtitle {
	color: white; text-transform: uppercase; letter-spacing: 13px; margin: 0px; font-weight: 600
}
.heading-epic {
	color: white; text-align: center; font-size: 75px; margin: 0px 0px 25px 0px
}
.span {
	color: #FFBA00
}
.banner {
	width: 100%; min-height: 300px; text-align: center 
}
.img-90 {
	width: 90%; height: auto
}
.img-100 {
	width: 100%; height: auto
}
.img-50 {
	width: 50%; height: auto
}
.footer {
	width: 100%; height: 50px; line-height: 50px; text-align: center; background-image: linear-gradient(to bottom, #ED3D0A, #FFBA00); color: white
}
.container-4 {
	width: 80%; margin: 0 auto
}
.w-25 {
	width: 25%; padding: 15px; float: left
}
.vien {
	border: 2px solid white; clip-path: polygon(0 0, 85% 0, 100% 10% , 100% 100%, 15% 100%, 0 90%); background-image: linear-gradient(to bottom, #ED3D0A, #FFBA00); text-align: center
}
.vien h2 {
	font-size: 35px; letter-spacing: 5px; margin: 10px 0px 0px 0px
}
.vien p {
	margin: 0px
}
.vien-1 {
	border: 2px solid #FFBA00; clip-path: polygon(0 0, 85% 0, 100% 10% , 100% 100%, 0 100%); background-image: url("../IMG/module_bg.8580d88.png"); text-align: center
}
.vien-1 h2 {
	font-size: 35px; letter-spacing: 5px; margin: 0px; color: #FFBA00
}
.vien-1 p {
	margin: 0px 
}
.w-33 {
	width: 33%; padding: 15px; float: left
}
.vien-2 {
	clip-path: polygon(0 0, 100% 0, 100% 89%, 89% 100%, 0 100%); background-image: linear-gradient(to right bottom, #ED3D0A, #FFBA00); text-align: center
}
.btn-1 {
	color: white; text-decoration: none; font-weight: bold
}
.w-35 {
	width: 35%; padding: 15px; display: flex; clip-path: polygon(0 0, 100% 0, 100% 75%, 89% 100%, 0 100%); background-image: linear-gradient(to right bottom, #ED3D0A, #FFBA00); float: left
}
.vien-3 {
	text-align: left; padding: 10px 0px 10px 15px 
}
.vien-3 h2 {
	font-size: 35px; margin: 0px
}
.vien-3 p {
	margin: 0px 
}
.w-30 {
	width: 30%; float: left; text-align: center
}
.w-30 h2 {
	font-size: 75px; margin: 0px
}
.w-30 p {
	margin: 0px 0px 100px 0px 
}
.btn-2 {
	color: white; text-decoration: none; font-weight: bold
}
.btn-2:hover {
	color: #FFBA00
}
.w-67 {
	width: 67%; padding: 15px; float: left
}
.form-control {
	padding: 10px; margin: 10px; width: 50%
}
.btn-login {
	color: white; padding: 15px; text-decoration: none; background-image: linear-gradient(to right bottom, #ED3D0A, #FFBA00); clip-path: polygon(0% 0%, 95% 0, 100% 50%, 100% 100%, 0 100%); font-weight: bold	
}